*{
    margin: 0;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.flex{
   display: flex;
    background: wheat;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    flex: 1 0 20rem;
}

.one{
    background: red;
}

.two{
    background: blue;
}

.three{
    background: green;
}
