*{
    margin: 0;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.flex{
   display: flex;
    background: wheat;
}

.box{
    height: 100px;
    min-width: 100px;

}

.one{
    background: red;
    flex-grow: 1;
}

.two{
    background: blue;
    flex-grow: 2;
}

.three{
    background: green;
    flex-grow: 3;
}
